#Ignoring binaries
bin/
obj/
/LightMvvmBlazor/.vs/LightMvvmBlazor/FileContentIndex/3f99912d-89c0-40aa-88f6-ea54ea3fc7fe.vsidx
/LightMvvmBlazor/.vs/LightMvvmBlazor/FileContentIndex/3f99912d-89c0-40aa-88f6-ea54ea3fc7fe.vsidx
/LightMvvmBlazor/.vs/LightMvvmBlazor/v17/TestStore/0
/LightMvvmBlazor/.vs
